@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  background: #F2F3F8 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

body, html, .wrapper, #root{
  width: 100%;
  height: 100%;
}
input::-webkit-input-placeholder { 
  color: #dee3e7 !important;
  opacity: 1;
}

input:-ms-input-placeholder { 
  color: #dee3e7!important;
  opacity: 1;
}

input::placeholder {
  color: #dee3e7!important;
  opacity: 1;
}
.header{
  position: fixed;
  left: 0px;
  width: 100%;
  top: 0;
  display: flex;
  background-color: #001440;
  padding: 11px 20px;
  z-index: 9;
}
.header span.title{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 4px;
}
.header span.live{
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  background-color: #009893;
  color: #fff;
  padding: 0 15px;
  text-align: center;
  margin-left: 20px;
  text-transform: uppercase;
}
.wrapper input{
  height: 50px;
  background: #fff;
  border: none;
  outline: none;
  color: #dee3e7;
  border-radius: 0px;
  border: 1px solid transparent;
  transition: 0.4s;
}
.wrapper .content input{
  background: #FFFFFF;
  border: 1px solid #BED8D4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 32px;
  font-family: 'Sarala', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
  color: #98A9AE;
  opacity: 0.5;
}
.menu-icon img{
  display: block;
  margin-top: 4px;
}
.profile-nav{
  position: absolute;
  right: 20px;
  top: 0px;
}
.media span{
  color: #fff;
  font-size: 13px;
}
.wrapper .btn{
  background: #009893;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.12);
}
.wrapper .btn:hover{
  background: #009893d9;
}
.password__show{
  background-image: url(./images/eye.svg);
  background-size: 30px;
  text-indent: -99999px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  top: 11px;
  width: 30px;
  right: 12px;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 60px;
}

.login-inner {
  max-width: 450px;
  margin: auto;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  width: 100%;
  background: #001440;
  text-align: left;
}

.main-content{
  margin-bottom: 20px;
}
.wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.forgot-password a {
  color: #167bff;
}
.footer {
  bottom: 0;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
}
.footer p{
  font-size: 10px;
  line-height: 14px;
  color: #AAB1BA;
}

.forgot-password{
  display: inline-block;
  margin-bottom: 10px;
  color: #008CCC;
  text-decoration: underline;
  font-size: 13px;
}
.content .btn{
  margin-top: 0px;
  background: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.12);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #008CCC;
  border: 1px solid #008CCC;
  padding: 5px 22px;
}
.content .btn.btn-next {
  background: #008CCC;
  border: 1px solid #008CCC;
  display: inline-block;
  width: auto;
  margin-left: 10px;
  color: #fff;
}
.content .btn-next.btn:disabled{
  background: #BED8D4;
  border: 1px solid #BED8D4;
}
.bottom-btns{
  margin-top: 30px;
}
.heading{
  text-align: center;
  margin-bottom: 30px;
}
 .login-inner .form-group{
   position: relative;
 } 
@media only screen 
    and (device-width : 812px) 
    and (device-height : 375px) 
    and (-webkit-device-pixel-ratio : 3) { 
      .footer{
        position: static;
        margin-top: 30px;
      }
      .login-inner{
        padding-bottom: 0px;
      }

    }

@media screen and (max-width:767px){
  .footer{
    position: static;
    margin-top: 30px;
  }
  .login-inner{
    padding-bottom: 0px;
  }
}

@media screen and (max-width:479px){
  .footer{
    position: absolute;
    margin-top: 0px;
  }
  .login-inner{
    padding-bottom: 45px;
  }
}